format = """$username\
    $hostname\
    $directory\
    $git_branch\
    $git_state\
    $fill\
    $kubernetes\
    $line_break  \
    $python\
    $line_break\
    $character
"""

right_format = """\
    $cmd_duration\
    $status\
"""

add_newline = false
continuation_prompt = "▶▶ "


[line_break]
disabled          = false

[cmd_duration]
disabled          = false
format            = 'took [$duration]($style)'
show_milliseconds = true
min_time          = 1000

[fill]
disabled          = false
symbol            = " "


[username]
disabled          = false
format            = '[$user]($style) '
show_always       = true

[hostname]
disabled          = false
format            = '@ [$ssh_symbol$hostname]($style) in '
ssh_only          = false


[azure]
disabled          = true
format            = '[$symbol $subscription]($style)'
symbol            = '󰠅'
style             = 'blue bold'

[aws]
disabled          = false

[kubernetes]
disabled          = false
format            = '[$symbol $context]($style)'
symbol            = '⛵'
style             = 'green bold'

[status]
disabled          = false
format            = '[$symbol $status]($style)'

[shell]
disabled          = false
